.categories-container {
  max-width: 100vw;
  width: max-content;
  max-height: 80vh;
  height: max-content;
}
.categories-dropdown {
  margin-top: 24px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1.5rem;
  align-items: baseline;
  border: 0.5px solid rgba(0, 0, 0, 0.175);
  border-radius: 0.5rem;
  margin: 1rem;
}

.categories-label {
  text-align: center;
  text-decoration: underline;
}
.categories-container ul li {
  list-style: none;
}
